@import 'variables'; 

.footer {
    padding-top: 40px;
    padding-bottom: 35px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        width: 230px;
    }

    &__social {
        display: flex;
        gap: 15px;
    }
}

.email {
    margin: 17px 0;
}

